.plist {
  list-style: none;
  *list-style: decimal;
  font-size: 25px;
  font-weight: bolder;
  font-family: sans-serif;
  padding: 0;
  margin-bottom: 4em;
}

.plist {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 0.5em 0;
  background: #519e8a;
  color: black;
  width: 90%;
  height: 80px;
  text-decoration: none;
  box-shadow: inset 0.5em 0 black;
}
